<div class="container">
    <div class="back">
        <div class="row">
            <div class="col-md-6">
                <div class="background">
                    <div class="text1">
                        <h2>Welcome To Bharath Bank</h2>
                        <p>Please Login for the best banking experience</p>
                        <p>{{data}}</p>
                    </div>
                      
                </div>
            </div>
            <div class="col-md-6">
                <div class="login">
                    <div class="us1">
                    <div class="form-floating mb-2">
                        
                        <input (change)="unameChange($event)" type="input" class="form-control us2" id="floatingInput" [placeholder]="placeh">
                        <label for="floatingInput">User ID</label>
                      </div>
                    
                      <div class="form-floating">
                        <input type="password" class="form-control us2" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      
                     
                    </div>
                    <div class="loginb">
                        <button (click)="login()" type="button" style="width: 80px;" class="btn btn-success mt-3 ">Login</button>
                       
                      </div>
                      <a href="">Create New Account</a>
                </div>
                
            </div>
        </div>
    
    </div>
</div>
